.button {
  background-color: #fff;
  border: 1px solid #069;
  color: #069;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0% 5px;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button--primary {
  background-color: #069;
  border-color: #069;
  color: #fff;
}

.button--secondary {
  background-color: #090;
  border-color: #090;
  color: #fff;
}

